* {
    box-sizing: border-box;
}

html {
    height: 100%;
  }

body {
    margin:0;
    padding:0;
    color: #ffffff;
    background: linear-gradient(#141e30, #243b55);
  }

  .name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 60px 0 50px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  .caption-list {
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
  }

  .text-enter {
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
  }

  button {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #03e9f4;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition-duration: 1s;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4;
  }
  
  .name-box button:hover {
    box-shadow: 0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  .button-all {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .name-box-list {
    text-align: center;
    padding: 0;
    list-style: none;
  }

  ul {
    margin-bottom: 50px;
  }

  .name-box-list li {
    display: flex;
    padding-top: 10px; 
    font-size: 18px;
    letter-spacing: 2px;
  }
  
  .hidden {
    display: none;
  }

  .checkbox {
    margin-right: 10px;
  }

  .delete {
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    background: #05838a;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    transition-duration: 1s;
    box-shadow: 0 0 5px #03e9f4,
                  0 0 10px #136c70;
  }

  li.checked > span {
    text-decoration: line-through;
  }

  .invalid { 
    border-color: red; 
  }

  .error-message {
    border-color: #cb4c4c;
    color: #cb4c4c;
  }



